---
layout: default
---

<div class="home">
	<div class="card banner home">
		<div class="inner">
			<div class="col-xs-12">

				<h1 class="title">The Dove & the Seagull</h1>

			</div>
		</div>
	</div>

	<div class="card categories">
		<div class="container">
			<div class="row">

				<div class="col-xs-12 col-sm-6 col-md-4 category category1">
					<div class="inner">
					<h3><a href="/botanical-prints">Botanical prints</a></h3>
					</div>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-4 category category2">
					<div class="inner">
					<h3><a href="/plant-study-prints">Plant study prints</a></h3>
				</div>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-4 category category3">
					<div class="inner">
					<h3><a href="/wpa-posters">WPA posters</a></h3>
				</div>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-4 category category4">
					<div class="inner">
					<h3><a href="/butterfly-prints">Butterfly prints</a></h3>
				</div>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-4 category category5">
					<div class="inner">
					<h3><a href="/woodcut-prints">Woodcut prints</a></h3>
				</div>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-4 category category6">
					<div class="inner">
					<h3><a href="/paul-nash-prints">Paul Nash prints</a></h3>
				</div>
				</div>

			</div>
		</div>
	</div>

	<div class="card latest-prints">
		<div class="container">
			<h2 class="title">Latest prints</h3>
			<div class="row">
				
			{% for artwork in site.data.artwork limit: 3%}
					{% include artwork-teaser.html %}
			{% endfor %}				
			</div>
		</div>
	</div>


</div><!--/home-->
