---
title: The Dove & The Seagull
layout: default

---
<div class="home">
	<div class="card banner home">
		<div class="inner">
			<div class="col-xs-12">

				<h1 class="title">Beautiful prints that  turn your house into  a home</h1>

			</div>
		</div>
	</div>

	<div class="card categories">
		<div class="container">
			<div class="row">


			{% for collection in site.collection %}

				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="category category1">
						<div class="inner">
							<h3><a href="{{ collection.url }}">{{ collection.title }}</a></h3>
						</div>
					</div>
				</div>
				{% endfor %}


			</div>
		</div>
	</div>

	<div class="card latest-prints">
		<div class="container">
			<h2 class="title">Latest prints</h2>
			<div class="row">
				
			{% for listing in site.artwork %}
					<p><a href="{{listing.url}}">{{ listing.title }}</a></p>
			{% endfor %}				

      </div>
    </div>
    </div>
