<!DOCTYPE html>
<html>

 <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700' rel='stylesheet' type='text/css'>

  <title>Product export</title>
1
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="shortcut icon" type="image/png" href="{{ "/images/site/favicon.png" | prepend: site.baseurl }}" >

</head>

  <body>

    <div class="page-wrapper">
      <div class="row-fluid">

        <div class="site-navigation">
          {% include header.html %}
        </div>

        <div class="site-content">
          {{ content }}
        </div>

      </div><!--/row-->

      <div class="footer row-fluid">

        <div class="col-xs-12">
          {% include footer.html %}
        </div>

      </div><!-- /footer row-->
    </div><!--/page-wrapper-->

  </body>
</html>
