---
layout: page
title: WPA Posters
lead: From 1935 to 1936, as part of the New Deal Works Progress Administration, the WPA Federal Art Project created posters to publicize local exhibits, theater productions and health and educational programs.
permalink: /shop/wpa-posters/
section_id: 19058808
---

	<div class="card listing">
		<div class="container">
			<div class="row">
				
			{% for listing in site.data.listings %}
				{% if listing.section_id == page.section_id %}
					{% include artwork-teaser.html %}
				{% endif %}
			{% endfor %}

			</div>
		</div>
	</div>

