<div class="artwork-info">

  <h4>Paper & printing</h4>

  <p>Giclée print on 200gsm Enhanced Matte Art paper with archival-quality dye inks.</p>

  <p>Giclée printing offers extra-fine image resolution, retaining a high degree of detail from the original image. If kept in good condition, your print will last beteween 100 and 200 years.</p>

  <p>This is a museum-quality heavyweight fine art paper with a smooth, clean finish. Extremely consistent, it emphasises different highlights and tones, helping to create a stunning work of art.</p>

  <h4>Sizing</h4>

  <p>Prints are available in a range of sizes, with a white border around the edges to allow for easy framing. If you have a specific size requirement, get in touch – we're always happy to help.</p>

  <p>Please note that the actual item colours shown may be different from the photos above due to different monitor settings, and the frame shown is for illustrative purposes only.</p>

  <h4>Shipping and delivery</h4>

  <p>When posting, we'll carefully pack your prints in a mailing tube or stiff envelope to keep them safe, and we aim have them on their way to you within 2-7 days of receiving your payment.</p>

</div>