<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.1.0/default/snipcart.css" />
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="preconnect" href="https://app.snipcart.com">
  <link rel="preconnect" href="https://cdn.snipcart.com">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="shortcut icon" type="image/png" href="{{ "/images/site/favicon.png" | prepend: site.baseurl }}" >
   {% if page.layout != 'artwork' %} {% seo %} {% endif %}

  {% if page.layout == 'artwork' %}

<script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "Product",
      "name": "{{ page.title }}",
      "image": [
        "{{ site.url }}/images/artwork/{{ page.image_full_0 }}",
        "{{ site.url }}/images/artwork/{{ page.image_full_1 }}",
        "{{ site.url }}/images/artwork/{{ page.image_full_2 }}",
        "{{ site.url }}/images/artwork/{{ page.image_full_3 }}"
       ],
      "description": "{{ page.excerpt }}",
      "sku": "{{ page.title | slugify }}"
      },
      "review": {
        "@type": "Review",
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "5",
          "bestRating": "5"
        },
        "author": {
          "@type": "Person",
          "name": "Fred Benson"
        }
      },
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "5",
        "reviewCount": "10"
      },
      "offers": {
        "@type": "Offer",
        "url": "{{ page.url }}",
        "priceCurrency": "GBP",
        "price": {{ page.price}},
        
        "itemCondition": "https://schema.org/NewCondition",
        "availability": "https://schema.org/InStock"
      }
    }
    </script>

  {% endif %}
</head>
