---
layout: default
---
<div class="card artwork">
	<div class="container">
		<div class="row">

			<div class="main-column col-xs-12 col-sm-8">
				<div class="inner">
					<div class="image"><img src="{{ page.image_fullxfull_url_0 }}" /></div>
					{{ page.excerpt }}
				</div>
			</div>



			<div class="product-info col-xs-12 col-sm-4">
				<div class="inner">

				<h1>{{ page.title }}</h1>

				<ul>
					<li>Printed on high quality 180gsm watercolour paper</li>
					<li>Dispatched within 3 days</li>
					<li>30 day money-back guarantee</li>
				</ul>
				<label>Select size: </label>
					<select class="div-toggle" data-target=".buy-buttons">
						{% for item in site.data.artwork_prices %}
							 <option value="{{ item.id }}" data-show=".{{ item.id }}">{{ item.id }}</option>
						{% endfor %}
					</select>
					<p class="btn btn-default"><a href ="{{ page.link }}" target="_blank">Buy on Etsy</a></p>
					<div class="buy-buttons">
						{% for item in site.data.artwork_prices %}
							<div class="buy-option {{ item.id }} hide">
								<p class="price">£{{ item.price }}</p>
								
							</div>

						{% endfor %}

					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<div class="card info">
	<div class="container">
		<div class="row">
<div class="col-xs-12 col-sm-8">
				<h3>About this print</h3>
				<p>Matt 250gsm conservation digital paper. A very versatile high quality paper made in Germany from acid and chlorine free wood pulp. The paper is manufactured on a Fourdrinier Machine, a process first perfected by and patented by the Fourdrinier brothers in 1803.</p>

			</div>

		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-3">
				<p class="quote">Thank you for the 3 beautiful prints! The colors are so vivid!! I just picked them up from the frame shop today and WOW!! They look simply stunning!!!</p>
			</div>
			<div class="col-xs-6 col-sm-3">
				<p class="quote">Thank you for the 3 beautiful prints! The colors are so vivid!! I just picked them up from the frame shop today and WOW!! They look simply stunning!!!</p>
			</div>
						<div class="col-xs-6 col-sm-3">
				<p class="quote">Thank you for the 3 beautiful prints! The colors are so vivid!! I just picked them up from the frame shop today and WOW!! They look simply stunning!!!</p>
			</div>
						<div class="col-xs-6 col-sm-3">
				<p class="quote">Thank you for the 3 beautiful prints! The colors are so vivid!! I just picked them up from the frame shop today and WOW!! They look simply stunning!!!</p>
			</div>
		</div>
	</div>
</div>

