---
layout: default
---

<div class="page-banner" style="background-image: url('{{ page.banner-image }}');">
	<div class="container">
	<div class="row">
		<div class="col-sm-8">
		<p><a href="{{ site.baseurl }}">Home</a> » <a href="{{ site.baseurl }}/collections">Collections</a> »</p>
		<h1 class="title">{{ page.title }}{% if page.artist %} – <span class="italic"> {{ page.artist }}</span>{% endif %}</h1>
		
		<p class="lead">{{ page.lead }}</p>
		{{ content }}
		</div>
		</div>
	</div>
</div>



<div class="card listing">
	<div class="container">
		<div class="row">

			{% for listing in site.artwork %}
				{% if listing.collect == page.title %}
					{% include artwork-teaser.html %}
				{% endif %}
			{% endfor %}

		</div>
	</div>
</div>

