---
layout: default
---

<div class="page-banner" style="background-image: url('{{ page.banner-image }}');">
	<div class="inner">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-8">
					<p class="s"><a href="{{ site.baseurl }}/">Home</a> » <a href="{{ site.baseurl }}/collections">Collections</a> »</p>
					<h1 class="title">{{ page.title }}</h1>
					<div class="artist-profile clearfix">
						{% assign artist_collection = site.artist | where:"title", page.artist %}
							{% for item in artist_collection %}
								<a href="{{ item.url }}"><img src="{{item.thumb}}" / class="artist-image">
								<p class="artist-name">By {{item.title }}</p></a>
						{% endfor %}
					</div>
					<p class="lead">{{ page.lead }}</p>
					
					{{ content }}
				</div>
			</div>
		</div>
	</div>
</div>



<div class="card listing">
	<div class="container">
		<div class="row">

			{% for listing in site.artwork %}
				{% if listing.collect == page.title %}
					{% include artwork-teaser.html %}
				{% endif %}
			{% endfor %}

		</div>
	</div>
</div>

