<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="page-wrapper">
      <div class="row-fluid">

        <div class="site-navigation">
          {% include header.html %}
        </div>

        <div class="site-content">
          {{ content }}
        </div>

      </div><!--/row-->

      <div class="footer row-fluid">

        <div class="col-xs-12">
          {% include footer.html %}
        </div>

      </div><!-- /footer row-->
    </div><!--/page-wrapper-->

  </body>
</html>
