---
layout: default
---

<div class="page-banner" style="background-image: url('{{ page.banner-image }}');">
	<div class="container">
	<div class="inner">
			<div class="row">
				<div class="col-xs-12 col-md-8">
					<p class="s"><a href="{{ site.baseurl }}/">Home</a> » <a href="{{ site.baseurl }}/collections">Sections</a> »</p>
					<h1 class="title">{{ page.title }}</h1>
					<p class="lead">{{ page.lead }}</p>
					
					{{ content }}
				</div>
			</div>
		</div>
</div>
</div>



<div class="card listing">
	<div class="container">
		<div class="row">
			{% assign art = site.artwork | where:"section_id", page.title %}
			{% for item in art %}
				{% include artwork-teaser.html %}
			{% endfor %}

		</div>
	</div>
</div>

